<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>TableObjectServiceImpl</servlet-name>
    <servlet-class>org.marczuk.server.TableObjectServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>TableObjectServiceImpl</servlet-name>
    <url-pattern>/exon/tableObjects</url-pattern>
  </servlet-mapping>
 
 <!-- File upload servlet -->
  <servlet>
    <servlet-name>fileUploaderServlet</servlet-name>
    <servlet-class>org.marczuk.server.FilesUploader</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>fileUploaderServlet</servlet-name>
    <url-pattern>/exon/filesuploader</url-pattern>
  </servlet-mapping>
 
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Exon.html</welcome-file>
  </welcome-file-list>
  
  <!-- Session settings -->
  <session-config>
    <session-timeout>20</session-timeout> 
  </session-config>
  
  <!-- Listeners -->
  <listener>
    <description>SessionListener</description>
    <listener-class>
        org.marczuk.server.SessionListener
    </listener-class>
  </listener>

  <listener>
    <description>ContexListener</description>
    <listener-class>
        org.marczuk.server.ContexListener
    </listener-class>
  </listener>

<!-- 
  <mime-mapping>
    <extension>txt</extension>
    <mime-type>application/octet-stream</mime-type>
  </mime-mapping>
-->

</web-app>
